* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #2c2b3d;
  width: 1280px;
  margin: 0 auto 0;
  position: relative;
}

#page {
  padding: 71px 100px 23px;
  margin: 0 auto 0;
  width: 1280px;
}

#nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 101px;
}

ul {
  display: flex;
  gap: 64px;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: #ffffff;
}

a,
h1,
.footer-msg {
  font-family: "JetBrains Mono", monospace;
}

#main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 157px;
}

h1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 59px;
}

span {
  color: #00bfa6;
  font-weight: 700;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #c2c2c2;
}

#footer {
  text-align: center;
}

#line {
  width: 568px;
  border: 1px solid #00bfa6;
  margin: 0 auto 30px;
}

.footer-msg {
  color: #ffffff;
}

.padlock {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
