* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "JetBrains Mono", monospace;
  font-family: "Open Sans", sans-serif;
  background: #2c2b3d;
  width: 1280px;
  margin: 0 auto 0;
  position: relative;
}

#page {
  padding: 71px 100px 23px;
  margin: 0 auto 0;
  width: 1280px;
}

#nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 101px;
}

ul {
  display: flex;
  gap: 64px;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

#main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 157px;
}

h1 {
  margin-bottom: 59px;
}

#footer {
  text-align: center;
}

#line {
  width: 568px;
  border: 1px solid #00bfa6;
  margin: 0 auto 30px;
}

.padlock {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
